<!DOCTYPE html>
<head>
	{% include header.html %}
</head>
<body>  
	<div class="background-container">
		<div class="top-container">{% include top.html %}</div>
		<div class="body-container">
			<div class="single-post-container row">
				<div class="twelve columns">
					<a href="{{ site.url }}">
						<i class="fa fa-arrow-left"></i> Back Home
					</a>
				</div>
				<div class="twelve columns">
					<div class="row post-info">
						<div class="twelve columns">
							<a href="{{ post.url }}"><h2 class="post-title">{{ page.title }}</h2></a>
						</div>
						<div class="twelve columns">
							<span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
						</div>
					</div>
				</div>
				<div class="twelve columns">
					<div class="row">
						<div class="twelve columns">{{ content }}</div>
					</div>
				</div>
				<div class="twelve columns">
					{% if page.comments %}
					    <div id="disqus_thread"></div>
					    <script type="text/javascript">
					        var disqus_shortname = 'kosmiclabs'; 
					        (function() {
					            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					        })();
					    </script>
					    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="footer-container">{% include footer.html %}</div>
	</div>
</body>
</html>